<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add a New Menu</h1>
    <form action="{{url_for('editMenuItem',rest_id=restid,menu_id=menuid)}}" method="post">
    <p>Name of Menu:<br/>
    <input type="text" size="30" name="name" value="{{menuname}}" required>
    </p>
    <p>Course:<br/>
    <input type="text" name="course" value="{{coursename}}">
    </p>
    <p>Price:<br/>
    <input type="text" name="price" value="{{price}}">
    </p>
    <p>Description:<br/>
    <textarea rows="4" cols="50" name="description">{{desc}}</textarea> 
    </p>
    <input type="submit" value="Save Change">
    <a href="{{url_for('ShowMenu',restid=restid)}}">Cancel</a>
    </form>
</body>

</html>